<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ask Mate</title>
    <link href="https://fonts.googleapis.com/css2?family=Contrail+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/index_style.css">
</head>
<body>
    <div class="wrapper">
        {% if is_logged_in %}
            <a href="/logout" class="login_link">log out</a>
            <a href="/users" class="login_link">view users</a>
            <a href="/user/{{ user_id }}" class="login_link">profile</a>
        {% else %}
            <a href="/login" class="login_link">sign in</a>
            <a href="/registration" class="login_link">sign up</a>
        {% endif %}
        <h1>Ask mate</h1>
        <div class="ghost">
            <section class="avatar">
                <p>Hi there! What would You like to ask?</p>
                <div class="circle_container">
                    <div class="circle"></div>
                    <div class="small_circle"></div>
                </div>
            </section>
            <aside>
                <img src="static/images/ghost.png" alt="ghost">
            </aside>
        </div>
        <div class='input_container'>
            <form class='question_form' action="/search" method="get">
                <label for="q">Type your question below</label><br>
                <input type="text" id="q" name="q" placeholder="Insert a question" required><br>
                <input class="input_submit" type="submit" value="Get answers!">
            </form>
            <a href="/list" type="button">Display All Questions</a>
            {% if is_logged_in %}
                <a href="/users" type="button">Display All Users</a>
            {% endif %}
            <a class="hidden" href="#" type="button" name="latest_questions" id="latest_questions">Display Latest Questions</a>
            <div class="latest_questions">
                <ol>
                    {% for question in questions %}
                    <li>
                        <p><span>Title:</span> {{ question['title'] }}</p>
                        <p><span>Message:</span> {{ question['message'] }}</p>
                    </li>
                    <br>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</body>
</html>