<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>{% block header %}{% endblock header %}</h1>
        <form action={% block action %}  {% endblock action %} method="post"  enctype=multipart/form-data>
            {% block optional_title %}{% endblock optional_title %}
            <label for="question_input">{% block label %}{% endblock label %}:</label><br>
            <textarea id="question_input" name="message" rows="4" cols="50">{% block content %}{% endblock content %}</textarea><br>
            {% block file_input %}{% endblock file_input %}
            <button type="submit">{% block button %}{% endblock button %}</button>
        </form>
</body>
</html>