<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Contrail+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <h1>{% block header %}{% endblock header %}</h1>
    </div>
    <div class="table_container">
        <form action={% block action %}  {% endblock action %} method="post"  enctype=multipart/form-data>
            {% block optional_title %}{% endblock optional_title %}
            {% block tag_list %}{% endblock tag_list %}
            <label for="question_input">{% block label %}{% endblock label %}:</label><br>
            <textarea id="question_input" name="message" rows="4" cols="50">{% block content %}{% endblock content %}</textarea><br>
            {% block file_input %}{% endblock file_input %}
            <div class="buttons">
                <button type="submit">{% block button %}{% endblock button %}</button>
            </div>
        </form>
    </div>
</body>
</html>