<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <h1>{% block header %}{% endblock header %}</h1>
    <div>
        <table style="width: auto">
            <tr>
            {% block title_header %}{% endblock title_header %}
            </tr>
            <tr>
            {% block content %}{% endblock content %}
            </tr>
        </table>
        {% block go_back_button %}{% endblock go_back_button %}
        {% block  delete_question_buton %}{% endblock  delete_question_buton %}
    </div>
</body>
</html>