{% extends 'display_data/display_data_layout.html' %}
{% block title %}
    Questions List | Ask-Mate
{% endblock title %}
{% block header %}
    Question List
{% endblock header %}
{% block main_menu %}
    <a href="/add_question">
        <button type="button">Add new question</button>
    </a>
{% endblock main_menu %}
{% block title_header %}
    {% for header in question_headers %}
        {% if header in ['submission_time', 'view_number', 'vote_number', 'title', 'message'] %}  {# sorting headers #}
            <th>
                {{ header.replace("_", " ").title() }}
                <form action="/list" method="get" class="sorting_form">
                    <input type="hidden" name="sort_by" value="{{ header }}">
                    <input type="hidden" name="order_descending" value="False">
                    <input class="sort_triangle_up" type="submit" alt="Sort by {{ header | replace('_', ' ') }}, ascending"
                           src="{{ url_for('static', filename='images/triangle.png') }}"
                           title="Sort by {{ header | replace('_', ' ') }}, ascending">
                </form>
                <form action="/list" method="get" class="sorting_form">
                    <input type="hidden" name="sort_by" value="{{ header }}">
                    <input type="hidden" name="order_descending" value="True">
                    <input class="sort_triangle_down" type="submit" alt="Sort by {{ header | replace('_', ' ') }}, descending"
                           src="{{ url_for('static', filename='images/triangle.png') }}"
                           title="Sort by {{ header | replace('_', ' ') }}, descending">
                </form>
            </th>
        {%  else %}
            <th>{{ header.replace("_", " ").title() }}</th>
        {% endif %}
    {% endfor %}
{% endblock title_header %}
{% block content %}
    {% for question in questions %}
        <tr>
        {% for question_key, question_value in question.items() %}
            {% if question_key == "title" %}
                <td>
                    <a href="/question/{{ question['id'] }}" class="hover_highlight">{{ question_value }}</a>
                    <div class="vote">
                        <a href="/question/<question_id>/vote_up">
                            <button type="button">Vote up</button>
                        </a>
                        <a href="/question/<question_id>/vote_down">
                            <button type="button">Vote down</button>
                        </a>
                    </div>
                </td>
            {% else %}
            <td><p>{{ question_value }}</p></td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
{% endblock content %}