{% extends 'display_data/display_data_layout.html' %}
{% block title %}
    Answers List | Ask-Mate
{% endblock title %}
{% block header %}
    Answers List
{% endblock header %}
{% block title_header %}
    <p>Question title: {{ question_details['title'] }}</p>
    <p>Question message: {{ question_details['message'] }}</p>
{% endblock title_header %}
{% block content %}
    <p>Given answers for above question:</p>
    <ul>
        {% if answer_details == None %}
            <li><p>No answers have been given for above questions</p></li>
        {% else %}
            {% for answer_key, answer_value in answer_details.items() %}
                {% if answer_key == "message" %}
                    <li><p>{{ answer_value }}</p></li>
                {% endif %}
            {% endfor %}
        {% endif %}
    </ul>
{% endblock content %}
{% block go_back_button %}
    <input type="button" value="Go Back!" onclick="history.back()">
{% endblock go_back_button %}
