{% extends 'display_data/display_data_layout.html' %}
{% block title %}
    Answers List | Ask-Mate
{% endblock title %}
{% block header %}
    Answers List
{% endblock header %}
{% block title_header %}
    <p>Question title: {{ question_details['title'] }}</p>
    <p>Question message: {{ question_details['message'] }}</p>
{% endblock title_header %}
{% block content %}
    <p>Given answers for above question:</p>
    <ul>
    {% for answer_key, answer_value in answer_details.items() %}
        {% if answer_key == "message" %}
            <li><p>{{ answer_value }}</p></li>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock content %}
