* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("../static/images/question-mark.jpg");
    background-color: rgba(200, 200, 200, 0.5);
    background-size: 100vw 100vh;
    background-blend-mode: screen;
}

.table_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 3vh auto 0 auto;
    width: 80vw;
}

table, th, td {
    border: 1px solid #ddd;
    border-top: none;
    border-collapse: collapse;
    padding: 0.7em;
}

th {
    background-color: #47A9FF;
    border: none;
    white-space: nowrap;
}

.wrapper {
    margin: 0 auto 0 auto;
    position: relative;
}

button {
    width: 210px;
    padding: 0.7em 1.25em;
    margin-top: 0.7em;
    border-radius: 0.5em;
    background-color: white;
    text-transform: uppercase;
}

button:hover {
    background-color: grey;
    color: white;
}

div h1 {
    margin: auto;
    background-color: #47A9FF;
    padding: 3vh 0 3vh 0;
    width: 40vw;
    text-align: center;
    font-family: 'Contrail One', cursive;
    font-size: 5em;
    color: white;
    overflow: auto;
    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 15em;
}

a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}

.hover_highlight {
    color: black;
}

.hover_highlight:hover {
    color: cornsilk;
    background-color: #47A9FF;
}

.sort_triangle_up {
    width: 0.75em;
}

.sort_triangle_down {
    width: 0.75em;
    transform: rotate(180deg);
}

/*input[type=submit] { -------------PRETTY SURE THIS IS NOT USED ANYWHERE ANYMORE---------- */
/*    background-image: url("../static/images/triangle.png");*/
/*    width: 12px;*/
/*    height: 12px;*/
/*    background-position: center;*/
/*    background-size: contain;*/
/*    background-repeat: no-repeat;*/
/*    border: 0 solid #000000;*/
/*    font-size: 0;*/
/*    background-color: transparent;*/
/*    vertical-align: middle;*/
/*    position: relative;*/
/*    bottom: 1px;*/
/*    cursor: pointer;*/
/*}*/

.sorting_form {
    display: inline;
    position: relative;
}

.redhover:hover {
    color: #FF000A;
    font-size: 0.9em;
}

.answers li {
    margin-bottom: 0.5em;
}

.message_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tags, .comments {
    font-size: 0.9em;
    align-self: flex-end;
    padding: 0 1% 0 10%;
    margin: 2% 0 2% 0;
    color: black;
    text-align: left;
    opacity: 0.7;
}

.comments {
    border: 0px;
    align-self: flex-start;
    margin: 1% auto;
    padding: 0;
    background-color: lightgray;
    width: 95%;
}

i {
    color: black;
    margin-left: 0.6em;
    transition: color .12s ease-out, font-size .12s ease-out;
}

i:hover {
    color: #47A9FF;
    font-size: 1.2em;
}

.comments i {
    font-size: 1em;
}

.vote {
    margin-top: 1%;
    text-align: center;
    height: 1.5em;
}

.vote a {
    vertical-align: middle;
}

.add_question {
    display: flex;
    justify-content: center;
}

.add_question a, .buttons a , .buttons button{
    width: 210px;
    padding: 0.6em 1.3em;
    border-radius: 8px;
    margin-top: 2vh;
    border: 1px solid black;
    background-color: #47A9FF;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: bold;
}

.add_question a:hover, .buttons a:hover , .buttons button:hover{
    background-color: grey;
    color: white;
}

.buttons {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
}

.question_data p {
    margin-bottom: 1%;
    text-align: center;
    font-family: 'Contrail One', cursive;
    font-size: 1.4em;
    color: black;
}

.data_table p {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-family: 'Contrail One', cursive;
    font-size: 1.8em;
    text-transform: uppercase;
    color: black;
}

.hidden {
    display: none;
}

.hide_textarea:focus + .hidden {
    display: flex;
}

#title {
    margin-bottom: 5px;
}

select option[value='text_area_enabled']:focus {
    background-color: red;
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073,
    0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6,
    0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

#profile_question_table, #profile_answer_table, #prifle_comment_table {
    width: 80vw;
}

.profile_h2 {
    margin: 2vh 0 1vh 0;
}

.accepted_answer {
    background-color: lightgreen;
}

.white_row_color {
    background-color: whitesmoke;
}

i.red {
    color: red;
}