* {
   margin: 0;
   padding: 0;
   background-color: #47A9FF;
   font-family: Arial;
}

.wrapper {
    margin: 10vh auto 10vh auto;
    position: relative;
    width: 800px;
}

div h1 {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-family: 'Contrail One', cursive;
    font-size: 80px;
    color: white;
}

.avatar p {
    width: 19vw;
    background-color: white;
    padding: 25px;
    border-radius: 35px;
    text-transform: uppercase;
    text-align: center;
}

.circle {
    position: absolute;
    left: 495px;
    top: 208px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;

}

.small_circle {
    position: absolute;
    left: 525px;
    top: 230px;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}

.ghost {
    display: flex;
    justify-content: center;
}

aside {
    margin-left: 15px;
    margin-top: 15px;
}

.input_container, .question_form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    height: 20vh;
}

.input_container a{
    width: 270px;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: white;
    text-transform: uppercase;
}

.input_submit{
    width: 310px;
    padding: 5px 15px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: white;
    text-transform: uppercase;
}

.question_form input[type='submit'] {
    font-size: 16px;
}

.input_container a:hover, .input_submit:hover{
    background-color: grey;
    color: white;
}

.question_form input {
    padding: 10px 20px;
    font-size: 20px;
    color: black;
}

.question_form label {
    font-size: 20px;
    text-transform: uppercase;
}

input[type="text"] {
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.latest_questions {
    display: none;
    height: 50vh;
}

p span {
    text-transform: uppercase;
}

.hidden:focus + .latest_questions {
    flex-grow: 1;
    display: flex;
    margin: 5%;
    font-family: 'Contrail One', cursive;
    font-size: 20px;
    color: white;
    height: 50vh;
}
