* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("/static/images/question-mark.jpg");
    background-color: rgba(200, 200, 200, 0.5);
    background-size: 100vw 100vh;
    background-blend-mode: screen;
}

.table_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 3vh auto 0 auto;
    width: 80vw;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    background-color: whitesmoke;
}

th {
    background-color: #47A9FF;
    white-space: nowrap;
}

.wrapper {
    margin: 0 auto 0 auto;
    position: relative;
}

button {
    width: 210px;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: white;
    text-transform: uppercase;
}

button:hover {
    background-color: grey;
    color: white;
}

div h1 {
    background-color: #47A9FF;
    padding: 3vh 0 3vh 0;
    width: 100vw;
    text-align: center;
    font-family: 'Contrail One', cursive;
    font-size: 80px;
    color: white;
}

a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}

.hover_highlight {
    color: black;
}

.hover_highlight:hover {
    color: cornsilk;
    background-color: #47A9FF;
}

.sort_triangle_up {
    width: 12px;
}

.sort_triangle_down {
    width: 12px;
    transform: rotate(180deg);
}

input[type=submit] {
    background-image: url("/static/images/triangle.png");
    width: 12px;
    height: 12px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 0 solid #000000;
    font-size: 0;
    background-color: transparent;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    cursor: pointer;
}

.sorting_form {
    display: inline;
    position: relative;
}

.trashico {
    width: 18px;
    vertical-align: top;

}

.answers li {
    margin-bottom: 8px;
}

.message_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tags, .comments {
    font-size: 14px;
    align-self: flex-end;
    padding: 0 1% 0 10%;
    margin: 2% 0 2% 0;
    color: black;
    text-align: left;
    opacity: 0.7;
}

.comments {
    border: 0px;
    align-self: flex-start;
    margin: 1% auto;
    padding: 0;
    background-color: lightgray;
    width: 95%;
}

i {
    color: black;
    margin-left: 0.6em;
}

i:hover {
    color: #47A9FF;
}

.vote {
    margin-top: 1%;
    text-align: center;
}

.add_question {
    display: flex;
    justify-content: center;
}

.add_question a, .buttons a {
    width: 210px;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 2vh;
    border: 1px solid black;
    background-color: #47A9FF;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: black;
}

.add_question a:hover, .buttons a:hover {
    background-color: grey;
    color: white;
}

.buttons {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
}

.question_data p {
    margin-bottom: 1%;
    text-align: center;
    font-family: 'Contrail One', cursive;
    font-size: 22px;
    color: black;
}

.data_table p {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-family: 'Contrail One', cursive;
    font-size: 28px;
    text-transform: uppercase;
    color: black;
}