body {
    background-color: #47A9FF;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    background-color: whitesmoke;
}

th {
    white-space: nowrap;
}

.wrapper {
    margin: 10vh auto 10vh auto;
    position: relative;
    width: 90%;
}

button {
    width: 210px;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: white;
    text-transform: uppercase;
}

button:hover {
    background-color: grey;
    color: white;
}

div h1 {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-family: 'Contrail One', cursive;
    font-size: 80px;
    color: white;
}

a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}

.hover_highlight:hover {
    color: cornsilk;
    background-color: #2c38ff
}

.sort_triangle_up {
    width: 12px;
}

.sort_triangle_down {
    width: 12px;
    transform: rotate(180deg);
}

input[type=submit] {
    background-image: url("/static/images/triangle.png");
    width: 12px;
    height: 12px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 0 solid #000000;
    font-size: 0;
    background-color: transparent;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    cursor: pointer;
}

.sorting_form {
    display: inline;
    position: relative;
}

.trashico {
    width: 18px;
    vertical-align: top;

}

.answers li {
    margin-bottom: 8px;
}