{% extends 'display_data/display_data_layout.html' %}
{% block links%}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Contrail+One&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
{% endblock links %}
{% block title %}
    Answers List | Ask-Mate
{% endblock title %}
{% block header %}
    Answers List
{% endblock header %}
{% block title_header %}
    <div class="question_data">
        {% if answer_details == [] %}
                <p>No answers has been given for above questions</p>
        {% else %}
            <p>Question title: {{ question_details[0]['title'] }}</p>
            <p>Question message: {{ question_details[0]['message'] }}</p>
        {% endif %}
    </div>
    {% if answer_details != [] %}
            {% for header in answer_headers %}
                <th>
                    {{ header.replace("_", " ").title() }}
                </th>
            {% endfor %}
    {% endif %}
{% endblock title_header %}
{% block content %}
    <div class="data_table">
        <p>Given answers for above question:</p>
    </div>
    {% if answer_details == [] %}
            <p>No answers has been given for above questions</p>
    {% else %}
        {% for dictionary in answer_details %}
            <tr>
            {% for answer_key, answer_value in dictionary.items() %}
                {% if answer_key == "message" %}
                    <td>
                        <div class="message_container">
                            <div class="message"><p>{{ answer_value }}</p></div>
                            <div class="vote">
                                <a href="/answer/{{ dictionary['id'] }}/vote_up">
                                    <i class="fas fa-arrow-circle-up" title="Vote Up"></i>
                                </a>
                                <a href="/answer/{{ dictionary['id'] }}/vote_down">
                                    <i class="fas fa-arrow-circle-down" title="Vote Down"></i>
                                </a>
                                <a href="/answer/{{ dictionary['id'] }}/new-comment">
                                    <i class="fas fa-comment" title="Add comment"></i>
                                </a>
                                <a href="/answer/{{ dictionary['id'] }}/delete">
                                    <i class="fas fa-trash-alt" title="Delete Answer"></i>
                                </a>
                                <a href="/answer/{{ dictionary['id'] }}/accepted">
                                    <i class="fas fa-check-circle" title="Check as the best answer"></i>
                                </a>
                            </div>
                            <div class="comments">
                                <p class="comment_redirect">Comments</p>
                                {% for comment in comments %}
                                    {% if comment['answer_id'] == dictionary['id'] %}
                                        <div class="comment_details">
                                            {{ comment['submission_time'] }}<span>|</span>{{ comment['message']}}<span> |</span> Number of edits: {{ comment['edited_count'] }}
                                            <a href="/comment/{{ comment['id'] }}/edit"><i class="fas fa-pen" title="Edit Comment"></i></a>
                                            <a href="/comment/{{ comment['id'] }}/delete"
                                               onclick="return confirm('Delete this comment?');">
                                                <i class="fas fa-trash-alt" title="Delete Comment"></i>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                {% else %}
                    <td>
                    {% if answer_key == 'image' %}
                        {% if answer_value != '' %}
                            <img src="/{{ answer_value }}" height="100px">
                        {% endif %}
                    {% else %}
                        <p>{{ answer_value }}</p>
                    {% endif %}
                    </td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
    {% endif %}
{% endblock content %}
{% block buttons %}
    <div class="buttons">
        <a href="/list" type="button">Go Back!</a>
        {% if is_logged_in %}
            <a href="{{ question_details[0]['id'] }}/new_answer" type="button">Add new answer</a>
            <a href="{{ question_details[0]['id'] }}/edit" type="button">Edit this question</a>
            <a href="{{ question_details[0]['id'] }}/delete" type="button">Delete this question</a>
            <a href="/logout" type="button">Log out</a>
        {% else %}
             <a href="/login" type="button">Login</a>
        {% endif %}
    </div>
{% endblock  buttons %}