{% extends 'display_data/display_data_layout.html' %}
{% block links%}
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Contrail+One&display=swap" rel="stylesheet">
{% endblock links %}
{% block title %}
    Questions List | Ask-Mate
{% endblock title %}
{% block header %}
    Question List
{% endblock header %}
{% block main_menu %}
    <div class="add_question">
        {% if is_logged_in%}
            <a href="/add_question" type="button">Add new question</a>
            <a href="/user/{{ user_id }}" type="button">My profile</a>
            <a href="/users" type="button">View users</a>
            <a href="/logout" type="button">Logout</a>
        {% else %}
            <a href="/login" type="button">Login</a>
            <a href="/registration">Sign up</a>
        {% endif %}

    </div>
{% endblock main_menu %}
{% block title_header %}
    {% for header in question_headers %}
        {% if header in ['submission_time', 'view_number', 'vote_number', 'title', 'message'] %}  {# sorting headers #}
            <th>
                {{ header.replace("_", " ").title() }}
                 <a href="/list?sort_by={{ header }}&order_descending=False">
                    <img class="sort_triangle_up" alt="Sort by {{ header | replace('_', ' ') }}, ascending"
                         src="{{ url_for('static', filename='images/triangle.png') }}"
                         title="Sort by {{ header | replace('_', ' ') }}, ascending">
                 </a>
                <a href="/list?sort_by={{ header }}&order_descending=True">
                    <img class="sort_triangle_down" alt="Sort by {{ header | replace('_', ' ') }}, descending"
                         src="{{ url_for('static', filename='images/triangle.png') }}"
                         title="Sort by {{ header | replace('_', ' ') }}, descending">
                </a>
            </th>
        {%  else %}
            <th>{{ header.replace("_", " ").title() }}</th>
        {% endif %}
    {% endfor %}
{% endblock title_header %}
{% block content %}
    {% for question in questions %}
        <tr>
        {% for question_key, question_value in question.items() %}
            {% if question_key == "title" %}
                <td>
                    <a href="/question/{{ question['id'] }}" class="hover_highlight">{{ question_value }}</a>
                </td>
            {% elif question_key == "message" %}
                <td>
                    <div class="message_container">
                        <div class="tags">
                            Tags ||
                            {% for tag in tags %}
                                {% if tag['question_id'] == question['id'] %}
                                    {{ tag['name'] }}
                                    <a href="/question/{{ question['id'] }}/tag/{{ tag['id'] }}/delete">
                                        <i class="fas fa-trash-alt redhover" title="Delete Tag"></i>
                                    </a> |
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="message"><p>{{ question_value }}</p></div>
                        <div class="vote">
                            <a href="/question/{{ question['id'] }}/new-comment">
                                    <i class="fas fa-comment" title="Add Comment"></i>
                            </a>
                            <a href="/question/{{ question['id'] }}/new-tag">
                                    <i class="fas fa-tag" title="Add Tag"></i>
                            </a>
                            {% if is_logged_in %}
                                <a href="/question/{{ question['id'] }}/vote_up">
                                    <i class="fas fa-arrow-circle-up" title="Vote Up"></i>
                                </a>
                                <a href="/question/{{ question['id'] }}/vote_down">
                                    <i class="fas fa-arrow-circle-down" title="Vote Down"></i>
                                </a>
                            {% endif %}
                        </div>
                        <div class="comments">
                            <p class="comment_redirect">Comments</p>
                            {% for comment in comments %}
                                {% if comment['question_id'] == question['id'] %}
                                    <div class="comment_details">
                                        {{ comment['submission_time'] }}<span>|</span>{{ comment['message']}}<span> |</span> Number of edits: {{ comment['edited_count'] }}
                                        <a href="/comment/{{ comment['id'] }}/edit"><i class="fas fa-pen" title="Edit Comment"></i></a>
                                        <a href="/comment/{{ comment['id'] }}/delete"
                                           onclick="return confirm('Delete this comment?');">
                                            <i class="fas fa-trash-alt redhover" title="Delete Comment"></i>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </td>
            {% elif question_key == 'image' %}
                {% if question_value != None %}
                    <td>
                        <img src="/{{ question_value }}" height="100px">
                    </td>
                    {% else %}
                    <td></td>
                {% endif %}
            {% else %}
            <td>
                    <p>{{ question_value }}</p>
            </td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
{% endblock content %}