{% extends 'display_data/display_data_layout.html' %}
{% block links%}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Contrail+One&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
{% endblock links %}
{% block title %}
    User Profile | Ask-Mate
{% endblock title %}
{% block header %}
    User Profile
{% endblock header %}
{% block title_header %}
    {% for header in user_headers %}
        <th>
            {{ header.replace("_", " ").title() }}
        </th>
    {% endfor %}
{% endblock title_header %}
{% block content %}
    <tr>
    {% for user_key, user_value in user.items() %}
        {% if user_key == "user_name" %}
            <td>
                <a href="/user/{{ user['email'] }}" class="hover_highlight">{{ user_value }}</a>
            </td>
        {% else %}
            {% if user_key != 'password' %}
                <td>
                    <p>{{ user_value }}</p>
                </td>
            {% endif %}
        {% endif %}
    {% endfor %}
    </tr>
{% endblock content %}
{% block buttons %}
    <div class="buttons">
        <a href="/" type="button">Go Back!</a>
    </div>
{% endblock  buttons %}