<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ask Mate</title>
    <link href="https://fonts.googleapis.com/css2?family=Contrail+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/index_style.css">
</head>
<body>
    <div class="wrapper">
        <h1>Ask mate</h1>
        <div class="ghost">
            <section class="avatar">
                <p>Hi there! What would You like to ask?</p>
                <div class="circle_container">
                    <div class="circle"></div>
                    <div class="small_circle"></div>
                </div>
            </section>
            <aside>
                <img src="static/images/ghost.png" alt="ghost">
            </aside>
        </div>
        <div class='input_container'>
            <form class='question_form' action="#">
                <label for="question">Type your question below</label><br>
                <input type="text" id="question" name="question" placeholder="Insert a question" required><br>
                <button type="submit">Get answers!</button>
            </form>
            <button onclick="location.href = '/list';" class="display_questions">Display All Questions</button>
        </div>
    </div>
</body>
</html>